<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons *ngIf='IsEdit' slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Review Site</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list color="warning" >
    
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <ion-item>
          <ion-input [(ngModel)]='location.GoogleURL' placeholder="Google" color="danger" ></ion-input>
          </ion-item> 
       
      </ion-col>
      <ion-col size="4">
        <ion-button [color]="IsGoogleAdded?'success':'danger'" (click)='AddGoogleLink()'>
         {{IsGoogleAdded==true?'Connected':'Connect'}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <ion-item>
          <ion-input [(ngModel)]='location.FacebookURL' placeholder="Facebook" color="danger" ></ion-input>
          </ion-item> 
       
      </ion-col>
      <ion-col size="4">
        <ion-button [color]="IsFBAdded?'success':'danger'" (click)='AddFBLink()'>
          {{IsFBAdded==true?'Connected':'Connect'}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <ion-item>
          <ion-input [(ngModel)]='location.InstagramURL' placeholder="Instagram" color="danger" ></ion-input>
          </ion-item> 
       
      </ion-col>
      <ion-col size="4">
        <ion-button [color]="IsIGAdded?'success':'danger'" (click)='AddIGLink()'>
          {{IsIGAdded==true?'Connected':'Connect'}}
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)='back()'  class="ion-text-center" color="primary" >
          FINISH SETUP
        </ion-button>
      </ion-col>
      </ion-row>

  </ion-list>

</ion-content>
